<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	
	<display-name>WXActivity</display-name>

	<welcome-file-list>
		<welcome-file>/otovc/home/index.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>webService</param-name>
		<param-value>http://192.168.0.166:8080</param-value>
	</context-param>
	<context-param>
		<param-name>thisService</param-name>	
		<param-value>http://localhost:8080/PhoneWeb/ajax?url=</param-value>
	</context-param>
	<context-param>
		<param-name>uploadPath</param-name>
		<param-value></param-value>
	</context-param>

</web-app>